.fadeOff {
  transition: left 0s 0.4s, opacity 0.4s;
}

.fadeOn {
  transition: left 0s, opacity 0.4s;
}
.width {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: 960px) {
    width: calc(100% - 80px);
  }
}
