.fadeOff {
  transition: left 0s 0.4s, opacity 0.4s;
}

.fadeOn {
  transition: left 0s, opacity 0.4s;
}

/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  background: var(--bg-color);
  color: var(--text-color);
}
img,
svg {
  display: block;
  width: 100%;
}
button,
input,
select,
textarea {
  outline: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/*PAGE STYLING*/
.width {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: 960px) {
    width: calc(100% - 80px);
  }
}

/*HEADER*/
.header {
  background: var(--bg-color);
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
}
.header-hamburger {
  width: 32px;
  display: block;
}
.header-hamburger-bar {
  height: 1px;
  width: 100%;
  background: var(--text-color);
  display: block;
  border-radius: 2px;
}
span.header-hamburger-bar {
  margin-top: 6px;
}
.header-nav-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  opacity: 0;
  left: -100%;
  transition: left 0s 0.4s, opacity 0.4s;
}
.header-nav-overlay .nav-active {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  opacity: 1;
  transition: left 0s, opacity 0.4s;
}
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background: var(--bg-color);
  max-width: 300px;
  width: 300px;
  z-index: 10;
  transform: translateX(-100%);
  transition: 0.4s transform;
}
.header-nav .nav-active {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background: var(--bg-color);
  max-width: 300px;
  width: 300px;
  z-index: 10;
  transform: none;
}

.header-nav-item {
  border-bottom: 1px solid var(--border-color);
}
.header-nav-anchor {
  display: block;
  padding: 20px;
  color: var(--text-color);
}
